.color_0 {
  color: #ffffff;
}
.backcolor_0 {
  background-color: #ffffff;
}
.color_1 {
  color: #ffffff;
}
.backcolor_1 {
  background-color: #ffffff;
}
.color_2 {
  color: #000000;
}
.backcolor_2 {
  background-color: #000000;
}
.color_3 {
  color: #ed1c24;
}
.backcolor_3 {
  background-color: #ed1c24;
}
.color_4 {
  color: #0088cb;
}
.backcolor_4 {
  background-color: #0088cb;
}
.color_5 {
  color: #ffcb05;
}
.backcolor_5 {
  background-color: #ffcb05;
}
.color_6 {
  color: #727272;
}
.backcolor_6 {
  background-color: #727272;
}
.color_7 {
  color: #b0b0b0;
}
.backcolor_7 {
  background-color: #b0b0b0;
}
.color_8 {
  color: #ffffff;
}
.backcolor_8 {
  background-color: #ffffff;
}
.color_9 {
  color: #727272;
}
.backcolor_9 {
  background-color: #727272;
}
.color_10 {
  color: #b0b0b0;
}
.backcolor_10 {
  background-color: #b0b0b0;
}
.color_11 {
  color: #ffffff;
}
.backcolor_11 {
  background-color: #ffffff;
}
.color_12 {
  color: #edede4;
}
.backcolor_12 {
  background-color: #edede4;
}
.color_13 {
  color: #a0a09f;
}
.backcolor_13 {
  background-color: #a0a09f;
}
.color_14 {
  color: #605e5e;
}
.backcolor_14 {
  background-color: #605e5e;
}
.color_15 {
  color: #2f2e2e;
}
.backcolor_15 {
  background-color: #2f2e2e;
}
.color_16 {
  color: #f7b3b3;
}
.backcolor_16 {
  background-color: #f7b3b3;
}
.color_17 {
  color: #f08d8d;
}
.backcolor_17 {
  background-color: #f08d8d;
}
.color_18 {
  color: #e82929;
}
.backcolor_18 {
  background-color: #e82929;
}
.color_19 {
  color: #9b1b1b;
}
.backcolor_19 {
  background-color: #9b1b1b;
}
.color_20 {
  color: #4d0e0e;
}
.backcolor_20 {
  background-color: #4d0e0e;
}
.color_21 {
  color: #b6e8e3;
}
.backcolor_21 {
  background-color: #b6e8e3;
}
.color_22 {
  color: #8dd1ca;
}
.backcolor_22 {
  background-color: #8dd1ca;
}
.color_23 {
  color: #41baae;
}
.backcolor_23 {
  background-color: #41baae;
}
.color_24 {
  color: #2b7c74;
}
.backcolor_24 {
  background-color: #2b7c74;
}
.color_25 {
  color: #163e3a;
}
.backcolor_25 {
  background-color: #163e3a;
}
.color_26 {
  color: #f4c0af;
}
.backcolor_26 {
  background-color: #f4c0af;
}
.color_27 {
  color: #e99f86;
}
.backcolor_27 {
  background-color: #e99f86;
}
.color_28 {
  color: #de5021;
}
.backcolor_28 {
  background-color: #de5021;
}
.color_29 {
  color: #943616;
}
.backcolor_29 {
  background-color: #943616;
}
.color_30 {
  color: #4a1b0b;
}
.backcolor_30 {
  background-color: #4a1b0b;
}
.color_31 {
  color: #f4eab1;
}
.backcolor_31 {
  background-color: #f4eab1;
}
.color_32 {
  color: #e9db89;
}
.backcolor_32 {
  background-color: #e9db89;
}
.color_33 {
  color: #dec328;
}
.backcolor_33 {
  background-color: #dec328;
}
.color_34 {
  color: #94821b;
}
.backcolor_34 {
  background-color: #94821b;
}
.color_35 {
  color: #4a410d;
}
.backcolor_35 {
  background-color: #4a410d;
}
