.font_0 {
  font: normal normal normal 60px/1.4em dinneuzeitgroteskltw01-_812426,
    sans-serif;
  color: #2f2e2e;
}
.font_3 {
  font: normal normal normal 60px/1.4em 'ｍｓ ｐゴシック', 'ms pgothic',
    'ヒラギノ角ゴ pro w3', 'hiragino kaku gothic pro', osaka, sans-serif;
  color: #2f2e2e;
}

.font_4 {
  font: normal normal bold 50px/1.4em 'ｍｓ ｐゴシック', 'ms pgothic',
    'ヒラギノ角ゴ pro w3', 'hiragino kaku gothic pro', osaka, sans-serif;
  color: #2f2e2e;
}
.font_7 {
  font: normal normal normal 19px/1.4em 'ｍｓ ｐゴシック', 'ms pgothic',
    'ヒラギノ角ゴ pro w3', 'hiragino kaku gothic pro', osaka, sans-serif;
  color: #605e5e;
}
.font_8 {
  font: normal normal normal 14px/1.4em 'メイリオ', meiryo,
    'ヒラギノ角ゴ pro w3', 'hiragino kaku gothic pro', sans-serif;
  color: #2f2e2e;
}
