.style-jxeq08xfbg {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(232, 41, 41, 0.8);
}
.style-jxeq08xfinlineContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
