.style-jxeq08x6 {
  overflow: hidden;
}
.style-jxeq08x6 iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.style-jxeq08x6 iframe:-webkit-full-screen {
  min-height: auto !important;
}
.style-jxeq08x6preloaderOverlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #373737;
  width: 100%;
  height: 100%;
}
.style-jxeq08x6preloaderOverlaycontent {
  width: 100%;
  height: 100%;
}
.style-jxeq08x6unavailableMessageOverlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #373737;
  width: 100%;
  height: 100%;
}
.style-jxeq08x6unavailableMessageOverlaycontent {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  font-size: 0;
  margin-top: 5px;
}
.style-jxeq08x6unavailableMessageOverlaytextContainer {
  color: #373737;
  font-family: 'Helvetica Neue', 'HelveticaNeueW01-55Roma',
    'HelveticaNeueW02-55Roma', 'HelveticaNeueW10-55Roma', Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
.style-jxeq08x6unavailableMessageOverlayreloadButton {
  display: inline-block;
}
.style-jxeq08x6unavailableMessageOverlay a {
  color: #0099ff;
  text-decoration: underline;
  cursor: pointer;
}
.style-jxeq08x6unavailableMessageOverlayiconContainer {
  display: none;
}
.style-jxeq08x6unavailableMessageOverlaydismissButton {
  display: none;
}
.style-jxeq08x6unavailableMessageOverlaytextTitle {
  font-family: 'Helvetica Neue', 'HelveticaNeueW01-55Roma',
    'HelveticaNeueW02-55Roma', 'HelveticaNeueW10-55Roma', Helvetica, Arial,
    sans-serif;
  display: none;
}
.style-jxeq08x6unavailableMessageOverlay[data-state~='hideIframe']
  .style-jxeq08x6unavailableMessageOverlay_buttons {
  opacity: 1;
}
.style-jxeq08x6unavailableMessageOverlay[data-state~='hideOverlay'] {
  display: none;
}
