/* font style */
/* data-styleid="theme_fonts" */

.font_0 {
  font: normal normal normal 63px/1.4em lulo-clean-w01-one-bold, sans-serif;
  color: #ffffff;
}
.font_1 {
  font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light,
    din-next-w10-light, sans-serif;
  color: #606060;
}
.font_2 {
  font: normal normal bold 42px/1.4em lulo-clean-w01-one-bold, sans-serif;
  color: #ffffff;
}
.font_3 {
  font: italic normal normal 29px/1.4em georgia, palatino, 'book antiqua',
    'palatino linotype', serif;
  color: #ffffff;
}
.font_4 {
  font: normal normal normal 42px/1.4em lulo-clean-w01-one-bold, sans-serif;
  color: #ffffff;
}
.font_5 {
  font: normal normal normal 25px/1.4em lulo-clean-w01-one-bold, sans-serif;
  color: #ffffff;
}
.font_6 {
  font: normal normal normal 22px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #ffffff;
}
.font_7 {
  font: normal normal normal 17px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #ffffff;
}
.font_8 {
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #ffffff;
}
.font_9 {
  font: normal normal normal 13px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #54728a;
}
.font_10 {
  font: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light,
    din-next-w10-light, sans-serif;
  color: #606060;
}

/* font style end */

/* theme color */
/* data-styleid="theme_colors" */
.color_0 {
  color: #ffffff;
}
.backcolor_0 {
  background-color: #ffffff;
}
.color_1 {
  color: #ffffff;
}
.backcolor_1 {
  background-color: #ffffff;
}
.color_2 {
  color: #000000;
}
.backcolor_2 {
  background-color: #000000;
}
.color_3 {
  color: #ed1c24;
}
.backcolor_3 {
  background-color: #ed1c24;
}
.color_4 {
  color: #0088cb;
}
.backcolor_4 {
  background-color: #0088cb;
}
.color_5 {
  color: #ffcb05;
}
.backcolor_5 {
  background-color: #ffcb05;
}
.color_6 {
  color: #727272;
}
.backcolor_6 {
  background-color: #727272;
}
.color_7 {
  color: #b0b0b0;
}
.backcolor_7 {
  background-color: #b0b0b0;
}
.color_8 {
  color: #ffffff;
}
.backcolor_8 {
  background-color: #ffffff;
}
.color_9 {
  color: #727272;
}
.backcolor_9 {
  background-color: #727272;
}
.color_10 {
  color: #b0b0b0;
}
.backcolor_10 {
  background-color: #b0b0b0;
}
.color_11 {
  color: #efefef;
}
.backcolor_11 {
  background-color: #efefef;
}
.color_12 {
  color: #bfbfbf;
}
.backcolor_12 {
  background-color: #bfbfbf;
}
.color_13 {
  color: #8f8f8f;
}
.backcolor_13 {
  background-color: #8f8f8f;
}
.color_14 {
  color: #606060;
}
.backcolor_14 {
  background-color: #606060;
}
.color_15 {
  color: #303030;
}
.backcolor_15 {
  background-color: #303030;
}
.color_16 {
  color: #adc5d8;
}
.backcolor_16 {
  background-color: #adc5d8;
}
.color_17 {
  color: #839cb1;
}
.backcolor_17 {
  background-color: #839cb1;
}
.color_18 {
  color: #54728a;
}
.backcolor_18 {
  background-color: #54728a;
}
.color_19 {
  color: #154063;
}
.backcolor_19 {
  background-color: #154063;
}
.color_20 {
  color: #0a2032;
}
.backcolor_20 {
  background-color: #0a2032;
}
.color_21 {
  color: #fcdacb;
}
.backcolor_21 {
  background-color: #fcdacb;
}
.color_22 {
  color: #fab598;
}
.backcolor_22 {
  background-color: #fab598;
}
.color_23 {
  color: #bc8872;
}
.backcolor_23 {
  background-color: #bc8872;
}
.color_24 {
  color: #7d5b4c;
}
.backcolor_24 {
  background-color: #7d5b4c;
}
.color_25 {
  color: #3f2d26;
}
.backcolor_25 {
  background-color: #3f2d26;
}
.color_26 {
  color: #c1e5c5;
}
.backcolor_26 {
  background-color: #c1e5c5;
}
.color_27 {
  color: #9bcca1;
}
.backcolor_27 {
  background-color: #9bcca1;
}
.color_28 {
  color: #5db267;
}
.backcolor_28 {
  background-color: #5db267;
}
.color_29 {
  color: #3e7745;
}
.backcolor_29 {
  background-color: #3e7745;
}
.color_30 {
  color: #1f3b22;
}
.backcolor_30 {
  background-color: #1f3b22;
}
.color_31 {
  color: #c3cbda;
}
.backcolor_31 {
  background-color: #c3cbda;
}
.color_32 {
  color: #9ca5b5;
}
.backcolor_32 {
  background-color: #9ca5b5;
}
.color_33 {
  color: #727c90;
}
.backcolor_33 {
  background-color: #727c90;
}
.color_34 {
  color: #3e4e6b;
}
.backcolor_34 {
  background-color: #3e4e6b;
}
.color_35 {
  color: #1f2736;
}
.backcolor_35 {
  background-color: #1f2736;
}
/* theme color end */

/* pc1 background */
.pc1screenWidthBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pc1[data-state~='fixedPosition'] {
  position: fixed !important;
  left: auto !important;
  z-index: 50;
}
.pc1[data-state~='fixedPosition'].pc1_footer {
  top: auto;
  bottom: 0;
}
.pc1bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pc1inlineContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.pc1centeredContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* pc1 background end */

/* data-styleid="siteBackground" */
.siteBackground {
  width: 100%;
  position: absolute;
}
.siteBackgroundbgBeforeTransition {
  position: absolute;
  top: 0;
}
.siteBackgroundbgAfterTransition {
  position: absolute;
  top: 0;
}
/* data-styleid="siteBackground" end */

/* data-styleid="style-iwoto05f" */
.style-iwoto05fscreenWidthBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.style-iwoto05f[data-state~='fixedPosition'] {
  position: fixed !important;
  left: auto !important;
  z-index: 50;
}
.style-iwoto05f[data-state~='fixedPosition'].style-iwoto05f_footer {
  top: auto;
  bottom: 0;
}
.style-iwoto05f_bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(239, 239, 239, 1);
  border-top: 0px solid rgba(239, 239, 239, 1);
  border-bottom: 0px solid rgba(239, 239, 239, 1);
}
.style-iwoto05fbg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.style-iwoto05f[data-state~='mobileView'] .style-iwoto05fbg {
  left: 10px;
  right: 10px;
}
.style-iwoto05f_bg-center {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: 0;
  background-color: rgba(239, 239, 239, 1);
  border-radius: 0;
}
.style-iwoto05finlineContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.style-iwoto05fcenteredContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* data-styleid="style-iwoto05f" end */

/* data-styleid="style-jxc1kawd" */
.style-jxc1kawdscreenWidthBackground {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.style-jxc1kawd[data-state~='fixedPosition'] {
  position: fixed !important;
  left: auto !important;
  z-index: 50;
}
.style-jxc1kawd[data-state~='fixedPosition'].style-jxc1kawd_footer {
  top: auto;
  bottom: 0;
}
.style-jxc1kawdbg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.style-jxc1kawdinlineContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.style-jxc1kawdcenteredContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* data-styleid="style-jxc1kawd" end */

/* data-styleid="txtNew" */
.txtNew {
  word-wrap: break-word;
  text-align: start;
}
.txtNew_override-left * {
  text-align: left !important;
}
.txtNew_override-right * {
  text-align: right !important;
}
.txtNew_override-center * {
  text-align: center !important;
}
.txtNew_override-justify * {
  text-align: justify !important;
}
.txtNew > * {
  pointer-events: auto;
}
.txtNew li {
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: normal;
}
.txtNew ol,
.txtNew ul {
  padding-left: 1.3em;
  padding-right: 0;
  margin-left: 0.5em;
  margin-right: 0;
  line-height: normal;
  letter-spacing: normal;
}
.txtNew ul {
  list-style-type: disc;
}
.txtNew ol {
  list-style-type: decimal;
}
.txtNew ul ul,
.txtNew ol ul {
  list-style-type: circle;
}
.txtNew ul ul ul,
.txtNew ol ul ul {
  list-style-type: square;
}
.txtNew ul ol ul,
.txtNew ol ol ul {
  list-style-type: square;
}
.txtNew ul[dir='rtl'],
.txtNew ol[dir='rtl'] {
  padding-left: 0;
  padding-right: 1.3em;
  margin-left: 0;
  margin-right: 0.5em;
}
.txtNew ul[dir='rtl'] ul,
.txtNew ul[dir='rtl'] ol,
.txtNew ol[dir='rtl'] ul,
.txtNew ol[dir='rtl'] ol {
  padding-left: 0;
  padding-right: 1.3em;
  margin-left: 0;
  margin-right: 0.5em;
}
.txtNew p {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}
.txtNew h1 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}
.txtNew h2 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}
.txtNew h3 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}
.txtNew h4 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}
.txtNew h5 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}
.txtNew h6 {
  margin: 0;
  line-height: normal;
  letter-spacing: normal;
}
.txtNew a {
  color: inherit;
}
/* data-styleid="txtNew" end */

/* data-styleid="style-iqgn3jcw" */
.style-iqgn3jcw {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.style-iqgn3jcwlink,
.style-iqgn3jcwsvg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.style-iqgn3jcw svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.style-iqgn3jcw_non-scaling-stroke * {
  vector-effect: non-scaling-stroke;
}
.style-iqgn3jcw_with-shadow svg {
  overflow: visible !important;
}
/* data-styleid="style-iqgn3jcw" end */

/* data-styleid="strc1" */
.strc1:not([data-mobile-responsive]) > .strc1inlineContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.strc1[data-mobile-responsive] > .strc1inlineContent {
  position: relative;
}
.strc1[data-responsive] {
  display: -ms-grid;
  display: grid;
  justify-content: center;
  grid-template-columns: 100%;
  grid-template-rows: 1fr;
  -ms-grid-columns: 100%;
  -ms-grid-rows: 1fr;
}
.strc1[data-responsive] > .strc1inlineContent {
  display: flex;
}
.strc1[data-responsive] > * {
  position: relative;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column-span: 1;
  margin: 0 auto;
}
/* data-styleid="strc1" end */

/* data-styleid="c1" */
.c1bg {
  border: 10px solid rgba(239, 239, 239, 1);
  background-color: transparent;
  border-radius: 0;
}
.c1inlineContent,
.c1bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* data-styleid="c1" end */

/* data-styleid="lb1" */
.lb1itemsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: nowrap;
}
.lb1itemsContainer > li:last-child {
  margin: 0 !important;
}
.lb1[data-state~='mobileView'] .lb1itemsContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  white-space: normal;
}
.lb1 a {
  display: block;
  height: 100%;
}
.lb1imageItemlink {
  cursor: pointer;
}
.lb1imageItemimageimage {
  position: static;
  box-shadow: #000 0 0 0;
  user-select: none;
}
/* data-styleid="lb1" end */

/* data-styleid="AutoWidthAnchorSkin" */
.AutoWidthAnchorSkin {
  visibility: hidden;
  pointer-events: none !important;
}
/* data-styleid="AutoWidthAnchorSkin" end */

/* data-styleid="appWidget1" */
.appWidget1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
@-moz-document url-prefix() {
  :invalid ;
}
 {
  box-shadow: none;
}
:-moz-submit-invalid {
  box-shadow: none;
}
:-moz-ui-invalid {
  box-shadow: none;
}
.appWidget1_control-preloader {
  width: 36px;
  height: 72px;
  margin-left: -18px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  transform-origin: 100% 50%;
  animation: appWidget1_semi-rotate 1s linear infinite;
}
.appWidget1_control-preloader::before,
.appWidget1_control-preloader::after {
  content: '';
  top: 0;
  left: 0;
  right: -100%;
  bottom: 0;
  border: 3px solid currentColor;
  border-color: currentColor transparent transparent currentColor;
  border-radius: 50%;
  position: absolute;
  transform: rotate(-45deg);
  animation: appWidget1_inner-rotate 0.5s linear infinite alternate;
}
.appWidget1_control-preloader::before {
  color: #7fccf7;
}
.appWidget1_control-preloader::after {
  color: #3899ec;
  opacity: 0;
}
@keyframes appWidget1_semi-rotate {
  0% {
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  45% {
    transform: rotate(198deg);
  }
  55% {
    transform: rotate(234deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes appWidget1_inner-rotate {
  % to {
    transform: rotate(115deg);
    opacity: 1;
  }
}
/* data-styleid="appWidget1" end */

/* data-styleid="style-jx4pubgw" */
.style-jx4pubgw {
  display: flex;
  align-items: center;
  justify-content: center;
}
@-moz-document url-prefix() {
  :invalid ;
}
 {
  box-shadow: none;
}
:-moz-submit-invalid {
  box-shadow: none;
}
:-moz-ui-invalid {
  box-shadow: none;
}
.style-jx4pubgwform {
  background-color: transparent;
  height: 100%;
  width: 100%;
}
.style-jx4pubgw_control-preloader {
  width: 36px;
  height: 72px;
  margin-left: -18px;
  position: absolute;
  opacity: 0;
  overflow: hidden;
  transform-origin: 100% 50%;
  animation: style-jx4pubgw_semi-rotate 1s linear infinite;
}
.style-jx4pubgw_control-preloader::before,
.style-jx4pubgw_control-preloader::after {
  content: '';
  top: 0;
  left: 0;
  right: -100%;
  bottom: 0;
  border: 3px solid currentColor;
  border-color: currentColor transparent transparent currentColor;
  border-radius: 50%;
  position: absolute;
  transform: rotate(-45deg);
  animation: style-jx4pubgw_inner-rotate 0.5s linear infinite alternate;
}
.style-jx4pubgw_control-preloader::before {
  color: #7fccf7;
}
.style-jx4pubgw_control-preloader::after {
  color: #3899ec;
  opacity: 0;
}
@keyframes style-jx4pubgw_semi-rotate {
  0% {
    transform: rotate(180deg);
    animation-timing-function: ease-out;
  }
  45% {
    transform: rotate(198deg);
  }
  55% {
    transform: rotate(234deg);
  }
  100% {
    transform: rotate(540deg);
  }
}
@keyframes style-jx4pubgw_inner-rotate {
  % to {
    transform: rotate(115deg);
    opacity: 1;
  }
}
/* data-styleid="style-jx4pubgw" end */

/* data-styleid="style-jx4pubhd" */
.style-jx4pubhd {
  position: relative;
  min-height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.style-jx4pubhdinput {
  border-radius: 0;
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 0;
  background-color: rgba(239, 239, 239, 1);
  box-sizing: border-box !important;
  color: #38dcc8;
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
}
.style-jx4pubhdinput[type='number'] {
  -moz-appearance: textfield;
}
.style-jx4pubhdinput::-webkit-input-placeholder {
  color: #38dcc8;
}
.style-jx4pubhdinput::-ms-input-placeholder {
  color: #38dcc8;
}
.style-jx4pubhdinput::placeholder {
  color: #38dcc8;
}
.style-jx4pubhdinput:hover,
.style-jx4pubhdinput[data-preview~='hover'] {
  border-width: 0;
  background-color: rgba(131, 156, 177, 1);
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
}
:not(.style-jx4pubhd_with-validation-indication) .style-jx4pubhdinput:focus,
:not(.style-jx4pubhd_with-validation-indication)
  .style-jx4pubhdinput[data-preview~='focus'] {
  border-width: 0;
  background-color: rgba(173, 197, 216, 1);
  border-style: solid;
  border-color: rgba(84, 114, 138, 1);
}
.style-jx4pubhd_with-validation-indication .style-jx4pubhdinput:invalid {
  border-width: 0;
  background-color: rgba(251, 243, 243, 1);
  border-style: solid;
  border-color: rgba(246, 4, 25, 1);
}
.style-jx4pubhd_with-validation-indication
  .style-jx4pubhdinput:not(:invalid):focus,
.style-jx4pubhd_with-validation-indication
  .style-jx4pubhdinput[data-preview~='focus'] {
  border-width: 0;
  background-color: rgba(173, 197, 216, 1);
  border-style: solid;
  border-color: rgba(84, 114, 138, 1);
}
.style-jx4pubhd_left-direction .style-jx4pubhdinput {
  text-align: left;
}
.style-jx4pubhd_right-direction .style-jx4pubhdinput {
  text-align: right;
  direction: rtl;
}
.style-jx4pubhd_center-direction .style-jx4pubhdinput {
  text-align: center;
}
.style-jx4pubhd p {
  transition: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  opacity: 0;
  border-radius: 0;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 140px;
  padding: 10px;
  font-size: 13px;
  line-height: 16px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.style-jx4pubhd p:after {
  content: '▼';
  position: absolute;
  bottom: -12px;
  right: 10px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  border-radius: 0;
}
.style-jx4pubhd[data-disabled='true'] .style-jx4pubhdinput,
.style-jx4pubhd[data-preview~='disabled'] .style-jx4pubhdinput {
  background-color: rgba(255, 255, 255, 1);
  color: #dbdbdb;
  border-width: 0;
  border-style: solid;
  border-color: rgba(219, 219, 219, 1);
}
.style-jx4pubhd[data-error='true'] .style-jx4pubhdinput,
.style-jx4pubhd[data-state~='invalid'] .style-jx4pubhdinput,
.style-jx4pubhd[data-preview~='error'] .style-jx4pubhdinput {
  border-width: 0;
  background-color: rgba(251, 243, 243, 1);
  border-style: solid;
  border-color: rgba(246, 4, 25, 1);
}
.style-jx4pubhdlabel {
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #303030;
  word-break: break-word;
  display: inline-block;
  line-height: 1;
}
.style-jx4pubhd_required .style-jx4pubhdlabel::after {
  content: ' *';
  color: transparent;
}
/* data-styleid="style-jx4pubhd" end */

/* data-styleid="style-jx4pubhl1" */
.style-jx4pubhl1 {
  position: relative;
  min-height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.style-jx4pubhl1input {
  border-radius: 0;
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 0;
  background-color: rgba(239, 239, 239, 1);
  box-sizing: border-box !important;
  color: #38dcc8;
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
}
.style-jx4pubhl1input[type='number'] {
  -moz-appearance: textfield;
}
.style-jx4pubhl1input::-webkit-input-placeholder {
  color: #38dcc8;
}
.style-jx4pubhl1input::-ms-input-placeholder {
  color: #38dcc8;
}
.style-jx4pubhl1input::placeholder {
  color: #38dcc8;
}
.style-jx4pubhl1input:hover,
.style-jx4pubhl1input[data-preview~='hover'] {
  border-width: 0;
  background-color: rgba(131, 156, 177, 1);
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
}
:not(.style-jx4pubhl1_with-validation-indication) .style-jx4pubhl1input:focus,
:not(.style-jx4pubhl1_with-validation-indication)
  .style-jx4pubhl1input[data-preview~='focus'] {
  border-width: 0;
  background-color: rgba(173, 197, 216, 1);
  border-style: solid;
  border-color: rgba(84, 114, 138, 1);
}
.style-jx4pubhl1_with-validation-indication .style-jx4pubhl1input:invalid {
  border-width: 1px;
  background-color: rgba(239, 239, 239, 1);
  border-style: solid;
  border-color: rgba(246, 4, 25, 1);
}
.style-jx4pubhl1_with-validation-indication
  .style-jx4pubhl1input:not(:invalid):focus,
.style-jx4pubhl1_with-validation-indication
  .style-jx4pubhl1input[data-preview~='focus'] {
  border-width: 0;
  background-color: rgba(173, 197, 216, 1);
  border-style: solid;
  border-color: rgba(84, 114, 138, 1);
}
.style-jx4pubhl1_left-direction .style-jx4pubhl1input {
  text-align: left;
}
.style-jx4pubhl1_right-direction .style-jx4pubhl1input {
  text-align: right;
  direction: rtl;
}
.style-jx4pubhl1_center-direction .style-jx4pubhl1input {
  text-align: center;
}
.style-jx4pubhl1 p {
  transition: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  opacity: 0;
  border-radius: 0;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 140px;
  padding: 10px;
  font-size: 13px;
  line-height: 16px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.style-jx4pubhl1 p:after {
  content: '▼';
  position: absolute;
  bottom: -12px;
  right: 10px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  border-radius: 0;
}
.style-jx4pubhl1[data-disabled='true'] .style-jx4pubhl1input,
.style-jx4pubhl1[data-preview~='disabled'] .style-jx4pubhl1input {
  background-color: rgba(255, 255, 255, 1);
  color: #dbdbdb;
  border-width: 0;
  border-style: solid;
  border-color: rgba(219, 219, 219, 1);
}
.style-jx4pubhl1[data-error='true'] .style-jx4pubhl1input,
.style-jx4pubhl1[data-state~='invalid'] .style-jx4pubhl1input,
.style-jx4pubhl1[data-preview~='error'] .style-jx4pubhl1input {
  border-width: 1px;
  background-color: rgba(239, 239, 239, 1);
  border-style: solid;
  border-color: rgba(246, 4, 25, 1);
}
.style-jx4pubhl1label {
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #303030;
  word-break: break-word;
  display: inline-block;
  line-height: 1;
}
.style-jx4pubhl1_required .style-jx4pubhl1label::after {
  content: ' *';
  color: transparent;
}
/* data-styleid="style-jx4pubhl1" end */

/* data-styleid="style-jx4pubhr2" */
.style-jx4pubhr2 {
  position: relative;
  min-height: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.style-jx4pubhr2input {
  border-radius: 0;
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-width: 0;
  background-color: rgba(239, 239, 239, 1);
  box-sizing: border-box !important;
  color: #38dcc8;
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
  padding: 3px;
  margin: 0;
  max-width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  text-overflow: ellipsis;
}
.style-jx4pubhr2input[type='number'] {
  -moz-appearance: textfield;
}
.style-jx4pubhr2input::-webkit-input-placeholder {
  color: #38dcc8;
}
.style-jx4pubhr2input::-ms-input-placeholder {
  color: #38dcc8;
}
.style-jx4pubhr2input::placeholder {
  color: #38dcc8;
}
.style-jx4pubhr2input:hover,
.style-jx4pubhr2input[data-preview~='hover'] {
  border-width: 0;
  background-color: rgba(131, 156, 177, 1);
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
}
:not(.style-jx4pubhr2_with-validation-indication) .style-jx4pubhr2input:focus,
:not(.style-jx4pubhr2_with-validation-indication)
  .style-jx4pubhr2input[data-preview~='focus'] {
  border-width: 0;
  background-color: rgba(173, 197, 216, 1);
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
}
.style-jx4pubhr2_with-validation-indication .style-jx4pubhr2input:invalid {
  border-width: 0;
  background-color: rgba(251, 243, 243, 1);
  border-style: solid;
  border-color: rgba(246, 4, 25, 1);
}
.style-jx4pubhr2_with-validation-indication
  .style-jx4pubhr2input:not(:invalid):focus,
.style-jx4pubhr2_with-validation-indication
  .style-jx4pubhr2input[data-preview~='focus'] {
  border-width: 0;
  background-color: rgba(173, 197, 216, 1);
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
}
.style-jx4pubhr2_left-direction .style-jx4pubhr2input {
  text-align: left;
}
.style-jx4pubhr2_right-direction .style-jx4pubhr2input {
  text-align: right;
  direction: rtl;
}
.style-jx4pubhr2_center-direction .style-jx4pubhr2input {
  text-align: center;
}
.style-jx4pubhr2 p {
  transition: opacity 0.5s ease 0s, border 0.5s ease 0s, color 0.5s ease 0s;
  opacity: 0;
  border-radius: 0;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 100%;
  width: 140px;
  padding: 10px;
  font-size: 13px;
  line-height: 16px;
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.style-jx4pubhr2 p:after {
  content: '▼';
  position: absolute;
  bottom: -12px;
  right: 10px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  border-radius: 0;
}
.style-jx4pubhr2[data-disabled='true'] .style-jx4pubhr2input,
.style-jx4pubhr2[data-preview~='disabled'] .style-jx4pubhr2input {
  background-color: rgba(255, 255, 255, 1);
  color: #dbdbdb;
  border-width: 0;
  border-style: solid;
  border-color: rgba(219, 219, 219, 1);
}
.style-jx4pubhr2[data-error='true'] .style-jx4pubhr2input,
.style-jx4pubhr2[data-state~='invalid'] .style-jx4pubhr2input,
.style-jx4pubhr2[data-preview~='error'] .style-jx4pubhr2input {
  border-width: 0;
  background-color: rgba(251, 243, 243, 1);
  border-style: solid;
  border-color: rgba(246, 4, 25, 1);
}
.style-jx4pubhr2label {
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #303030;
  word-break: break-word;
  display: inline-block;
  line-height: 1;
}
.style-jx4pubhr2_required .style-jx4pubhr2label::after {
  content: ' *';
  color: transparent;
}
/* data-styleid="style-jx4pubhr2" end */

/* data-styleid="style-jx4pubi0" */
.style-jx4pubi0 {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.style-jx4pubi0textarea {
  border-radius: 0;
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  border-width: 0;
  resize: none;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box !important;
  color: #38dcc8;
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
  padding: 3px;
  margin: 0;
  padding-top: 0.75em;
  max-width: 100%;
  min-width: 100%;
  overflow-y: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.style-jx4pubi0textarea::-webkit-input-placeholder {
  color: #38dcc8;
}
.style-jx4pubi0textarea::-ms-input-placeholder {
  color: #38dcc8;
}
.style-jx4pubi0textarea::placeholder {
  color: #38dcc8;
}
.style-jx4pubi0textarea:hover,
.style-jx4pubi0textarea[data-preview~='hover'] {
  border-width: 0;
  background-color: rgba(131, 156, 177, 1);
  border-style: solid;
  border-color: rgba(48, 48, 48, 1);
}
.style-jx4pubi0_left-direction .style-jx4pubi0textarea {
  text-align: left;
}
.style-jx4pubi0_right-direction .style-jx4pubi0textarea {
  text-align: right;
  direction: rtl;
}
.style-jx4pubi0_center-direction .style-jx4pubi0textarea {
  text-align: center;
}
.style-jx4pubi0[data-disabled='true'] .style-jx4pubi0textarea,
.style-jx4pubi0[data-preview~='disabled'] .style-jx4pubi0textarea {
  background-color: rgba(255, 255, 255, 1);
  color: #dbdbdb;
  border-width: 0;
  border-style: solid;
  border-color: rgba(219, 219, 219, 1);
}
:not(.style-jx4pubi0_with-validation-indication) .style-jx4pubi0textarea:focus,
:not(.style-jx4pubi0_with-validation-indication)
  .style-jx4pubi0textarea[data-preview~='focus'] {
  border-width: 0;
  background-color: rgba(173, 197, 216, 1);
  border-style: solid;
  border-color: rgba(84, 114, 138, 1);
}
.style-jx4pubi0_with-validation-indication .style-jx4pubi0textarea:invalid {
  border-width: 0;
  background-color: rgba(251, 243, 243, 1);
  border-style: solid;
  border-color: rgba(255, 64, 64, 1);
}
.style-jx4pubi0_with-validation-indication
  .style-jx4pubi0textarea:not(:invalid):focus,
.style-jx4pubi0_with-validation-indication
  .style-jx4pubi0textarea[data-preview~='focus'] {
  border-width: 0;
  background-color: rgba(173, 197, 216, 1);
  border-style: solid;
  border-color: rgba(84, 114, 138, 1);
}
.style-jx4pubi0[data-error='true'] .style-jx4pubi0textarea,
.style-jx4pubi0[data-preview~='error'] .style-jx4pubi0textarea {
  border-width: 0;
  background-color: rgba(251, 243, 243, 1);
  border-style: solid;
  border-color: rgba(255, 64, 64, 1);
}
.style-jx4pubi0label {
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #303030;
  word-break: break-word;
  display: inline-block;
  line-height: 1;
}
.style-jx4pubi0_required .style-jx4pubi0label::after {
  content: ' *';
  color: transparent;
}
/* data-styleid="style-jx4pubi0" end */

/* data-styleid="style-jx4pubib1" */
.style-jx4pubib1 button.style-jx4pubib1link {
  width: 100%;
}
.style-jx4pubib1[data-state~='shouldUseFlex'] .style-jx4pubib1link,
.style-jx4pubib1[data-state~='shouldUseFlex'] .style-jx4pubib1labelwrapper {
  text-align: initial;
  display: flex;
  align-items: center;
}
.style-jx4pubib1[data-state~='shouldUseFlex'][data-state~='center']
  .style-jx4pubib1link,
.style-jx4pubib1[data-state~='shouldUseFlex'][data-state~='center']
  .style-jx4pubib1labelwrapper {
  justify-content: center;
}
.style-jx4pubib1[data-state~='shouldUseFlex'][data-state~='left']
  .style-jx4pubib1link,
.style-jx4pubib1[data-state~='shouldUseFlex'][data-state~='left']
  .style-jx4pubib1labelwrapper {
  justify-content: flex-start;
}
.style-jx4pubib1[data-state~='shouldUseFlex'][data-state~='right']
  .style-jx4pubib1link,
.style-jx4pubib1[data-state~='shouldUseFlex'][data-state~='right']
  .style-jx4pubib1labelwrapper {
  justify-content: flex-end;
}
.style-jx4pubib1link {
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
}
.style-jx4pubib1label {
  font: normal normal normal 15px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  transition: color 0.4s ease 0s;
  color: #54728a;
  display: inline-block;
  margin: calc(-1 * 0px) 0px 0;
  position: relative;
  white-space: nowrap;
}
.style-jx4pubib1[data-state~='shouldUseFlex'] .style-jx4pubib1label {
  margin: 0;
}
.style-jx4pubib1[data-disabled='false'] .style-jx4pubib1link {
  background-color: rgba(239, 239, 239, 1);
  border: solid rgba(43, 104, 156, 1) 0px;
  cursor: pointer !important;
}
.style-jx4pubib1[data-disabled='false']:active[data-state~='mobile']
  .style-jx4pubib1link,
.style-jx4pubib1[data-disabled='false']:hover[data-state~='desktop']
  .style-jx4pubib1link,
.style-jx4pubib1[data-disabled='false'][data-preview~='hover']
  .style-jx4pubib1link {
  background-color: transparent;
  border-color: rgba(239, 239, 239, 1);
}
.style-jx4pubib1[data-disabled='false']:active[data-state~='mobile']
  .style-jx4pubib1label,
.style-jx4pubib1[data-disabled='false']:hover[data-state~='desktop']
  .style-jx4pubib1label,
.style-jx4pubib1[data-disabled='false'][data-preview~='hover']
  .style-jx4pubib1label {
  color: #efefef;
}
.style-jx4pubib1[data-disabled='true'] .style-jx4pubib1link,
.style-jx4pubib1[data-preview~='disabled'] .style-jx4pubib1link {
  background-color: rgba(204, 204, 204, 1);
  border-color: rgba(204, 204, 204, 1);
}
.style-jx4pubib1[data-disabled='true'] .style-jx4pubib1label,
.style-jx4pubib1[data-preview~='disabled'] .style-jx4pubib1label {
  color: #ffffff;
}
/* data-styleid="style-jx4pubib1" end */

/* data-styleid="style-jxbkbc6m" */
.style-jxbkbc6mbg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.style-jxbkbc6m[data-state~='mobileView'] .style-jxbkbc6mbg {
  left: 10px;
  right: 10px;
}
.style-jxbkbc6minlineContent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
/* data-styleid="style-jxbkbc6m" end */
